<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{
      title
    }}</a>
    <button
      type="button"
      class="navbar-toggler"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="collapseBasic"
      [collapse]="isCollapsed"
      class="collapse navbar-collapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active"
              >Matches</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"
              >Messages</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
    <ng-container *ngIf="!user">
      <form
        #loginForm="ngForm"
        (ngSubmit)="onLoginFormSubmit()"
        class="form d-flex"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
          aria-label="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
          aria-label="Password"
        />
        <button class="btn btn-outline-light" type="submit">Login</button>
      </form>
    </ng-container>
    <ng-container *ngIf="!!user">
      <div class="navbar-nav btn-group" dropdown>
        <span dropdown>
          <a
            dropdownToggle
            role="button"
            class="nav-link dropdown-toggle"
            aria-controls="dropdown-alignment"
          >
            Welcome <strong>{{ user?.username }}</strong
            ><span class="caret"></span>
          </a>
          <ul
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="basic-link"
          >
            <li *ngFor="let item of menuItems">
              <a class="dropdown-item">{{ item }}</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" (click)="onLogoutClick()">Logout</a>
            </li>
          </ul>
        </span>
      </div>
    </ng-container>
  </div>
</nav>
