<ng-container>
  <button (click)="get500Server()" class="btn btn-outline-danger mr-3">
    500
  </button>
  <button (click)="get404NotFound()" class="btn btn-outline-warning mr-3">
    404
  </button>
  <button (click)="get401Auth()" class="btn btn-outline-info mr-3">401</button>
  <button (click)="get400BadRequest()" class="btn btn-outline-success mr-3">
    400
  </button>
  <button (click)="get400Validation()" class="btn btn-outline-primary mr-3">
    400
  </button>
  <div class="row mt-5" *ngIf="!!validationErrors.length">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>
</ng-container>
